<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>50441512367-pgj7nu6ov1l3s9595gosm4jtbi7nd0ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50441512367-pgj7nu6ov1l3s9595gosm4jtbi7nd0ie</string>
	<key>API_KEY</key>
	<string>AIzaSyCXJdSb-kcNBnal0ArFDxFTdbc-uD5WrWs</string>
	<key>GCM_SENDER_ID</key>
	<string>50441512367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fractyldev.waypoint</string>
	<key>PROJECT_ID</key>
	<string>waypoint-62326</string>
	<key>STORAGE_BUCKET</key>
	<string>waypoint-62326.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50441512367:ios:3801b4f498f7c267</string>
	<key>DATABASE_URL</key>
	<string>https://waypoint-62326.firebaseio.com</string>
</dict>
</plist>